@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
}


.footer_box{
  padding: 30px 60px 40px;
  background:#FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer_box a{text-decoration:none}
.footer_box ul, .footer_box ol, .footer_box li{list-style:none}

.footer_box #shop_info_box {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 12px;
    height: 122px;
}

.footer_box #shop_info_box #csQnA_link {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.footer_box #sns_url_box {
	width: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}