.main_container {
   width:500px;
}

.first_content {
	width:500px;
   margin-top:100px;
   border-top:2px solid #C4C4C4;
}

.first_text {
   position:relative;
   top:-15px;
   margin-bottom:50px;
}

.first_text span {

   font-size: 21px;
   background:white;
   padding: 0 15px;
}

.first_text span b {
   color: #184798;
}


.loginForm_box {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
}



body {
	background: white;
	font-family:Arial, Helvetica, sans-serif;
}
.forms {
	background: #fff;
	box-shadow: 0 0 3px rgb(102, 102, 102);
	margin: 30px auto;
	max-width: 500px;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.forms form { padding: 30px; }
#signup { display: none; }
.forms .tab-group {
	list-style: none;
	padding: 0;
	margin: 0;
}
.forms .tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.forms .tab-group li a {
	display: block;
	text-decoration: none;
	font-weight: 500;
	padding: 15px;
	background: #ffffff;
	color: #184798;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	border-top: 3px solid transparent;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover {
	background: #dedfdf;
	color: #202020;
}
.forms .tab-group .active a {
	background: #184798;
	color: rgb(255, 255, 255);
	border-bottom: 3px solid #184798;
}
.forms input {
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #ddd;
	color: #424040;
	border-radius: 0;
	margin-bottom: 10px;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius: 3px;
}
.forms input:focus {
	outline: 0;
	border-color: #2e5ed7;
}
.forms label {
	font-size: 16px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	margin-bottom: 5px;
	display: block;
}
.forms .button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #184798;
	color: #ffffff;
	cursor: pointer;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius: 3px;
}
.forms .button:hover, .button:focus { background: #184798; }
.text-p { text-align: right; }
.text-p a { color: #ffffff; }
.atag{
	text-align: center;
	padding-bottom: 10px;
}
.atag a{

	text-decoration: none; /* 筌띻낱寃뺧옙�벥 獄쏅쵐夷� 占쎌젫椰꾬옙 */ 
	color: inherit; /* 筌띻낱寃뺧옙�벥 占쎄퉳占쎄맒 占쎌젫椰꾬옙 */
}
.btn_kakao{
	border: none;
	
}
.btn_kakao img{
	width: 183.5px; height: 49px;
	object-fit: cover;
}
.btn_naver img{
	width: 183.5px; height: 49px;
	object-fit: cover;
}
.btn_naver{
	border: none;
	margin-right: 10px;
}
.ic_btn{
	width: fit-content;
	padding: 15px;
	height:49px;
	margin: 0 auto;  
	display: flex;
	align-items: stretch;
}