.main_container {
    width:1024px;
    margin-top:80px;
 
 }

 .step_bar {
    display:flex;
    justify-content:space-between;
 }
 
 .bars {
    width:989px;
    height:43px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 
 .bars span {
    font-size:18px;
 }
 
 .step_bar_01 {
    background-color: #f0f0f0;
 }
 
 .step_bar_02 {
    background-color: #184798;
    color: white;
 }
 
 body {
		font-family: 'Noto Sans KR', sans-serif;
	}
.membershipForm_box table, .membershipForm_box tr{
   border-collapse : collapse;
   border: 1px solid #ddd;
   text-align: left;
}

.membershipForm_box td {
	padding-left: 10px;
}
 
 .step_bar_03 {
    background-color: #f0f0f0;
 }

 .fixed_join {
    height: 43px;
    width: 200px;
 }


.button_box {
    display:flex;
    justify-content:space-between;
    margin-top:40px;
    height:50px;
    float: right;
 }
 
 .button button {
    border:none;
    border-radius:2px;
    width: 510px;
    height:50px;
 }
 
 .button button span {
    font-size:20px;
    color:white;
 }
 
 #button_01 {
    background-color: #f0f0f0;
    width: 140px;
    height: 45px;
    border: none;
    font-size:large;
 }
 
 #button_02 {
    background-color: #184798;
    color: white;
    width: 140px;
    height: 45px;
    border: none;
    font-size: large;
 }

#gymInfo_table {
	border: 1px;
    width: 1024px;
    height: 250px;
    margin-top:30px;
}

#gymInfo_table #gymInfo_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 148px;
    margin-left:10px;
}

#gymInfo_table #gymInfo_div div {
	display: flex;
    flex-direction: column;
}

#non-border-1 {
	border-bottom:none;
}

#non-border-2 {
	border-top:none;
}

#gymInfo_table #gymInfo_div #gym_name {
	width: fit-content;
    font-size: 18px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
 
#main_table {
     border: 1px;
     width: 1024px;
     height: 600px;
 }
 
#main_table input[type="text"]:not(#name, #gender, #datepicker1, #datepicker2, #hp){
 	border:1px solid #c4c4c4;
}

.title-box {
    font-size: 18px;
    font-family: "Musinsa", sans-serif !important;
}

.title-box .korSub {
    line-height: 15px;
    margin-left: 5px;
}
.title-box .korSub {
    font-weight: bold;
    font-size: 12px;
    color: #b2b2b2;
}

.cell_membership_form1 {
    text-align: start;
    margin-bottom: 20px;
}

.font-mss {
    font-family: "Musinsa", sans-serif !important;
}

#main_table #name, #gender, #hp {
	border:none;
}

#main_table #hp {
    width: 200px;
}

#year, #month, #day {
	width: 100px;
}

#month, #day {
	margin:0px 5px;
}

#zipcode{
    width: 200px;
    margin-top: 15px;
} 

#btn_zipcode {
    border: 1px solid #c4c4c4;
    border-radius: 1px;
}

#btn_hp {
    width: 150px;
    height: 35px;
    border: 1px solid;
}
#roadAddress {
    width: 355px;
    margin-top:3px;
}

#datepicker1, #datepicker2 {
	width:200px;
	border:none;
	border-bottom:1px solid #c4c4c4;
	padding-bottom:5px;
}

#cash, #credit, #naverpay, #paybyphone, #kakaopay {
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 5px;
}

#cash:hover, #credit:hover, #naverpay:hover, #paybyphone:hover, #kakaopay:hover {
	background:#184798;
	color:white;
}

#selectcard, #installment {
    width: 200px;
} 


.test_obj input[type="radio"] {
        display: none;
    }
 
.test_obj input[type="radio"] + span {
        display: inline-block;
        width: 120px;
    	padding: 10px 10px;
        border: 1px solid #dfdfdf;
        background-color: #ffffff;
        text-align: center;
        cursor: pointer;
}
 
.test_obj input[type="radio"]:checked + span {
        background-color: #184798;
        color: #ffffff;
}
