@charset "UTF-8";

body{
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}

.wrap.show{
  opacity: 1;
  visibility: visible;
}

.wrap{
  width: 100%;
  background:#fff;
}


ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul{
	margin-bottom:10px;
}

.sub_wrap .align_rt {
    float: right;
    
    margin-right: 31px;
  	margin-top:20px;
  	margin-bottom:100px;
  	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding:0 30px;
	
}

.sub_wrap nav {
    display: block;
    float: left;
    width: 238px;
  padding-top:32px;
}

.wrap{
  width:100%;
  background:#fff;
}

.sub_top_wrap{
  height: 120px;
  background:#184798;
}

.sub_top{
	position:relative;
  width:1024px;
  height:120px;
  margin:0 auto;
  border-radius:0;
	text-align:left;
}

.sub_top a{
	position: absolute;
    color: white;
    font-weight: 500;
    font-size: 32px;
    bottom:20px;
}


.content{
  overflow:hidden;
}

.sub_wrap{
  width: 1024px;
  margin:0 auto 0 auto;
  padding-top:54px;
  padding-bottom:54px;
}

.show_list li .list_que span {
    font-size: 16px;
    color: black;
}

.show_list li{
    display: block;
    position: relative;
    height: auto;
    margin-bottom: 0;
    padding: 0px 24px 0px 0px;
    border-radius: 0;
    background: #fff;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
}

.show_list li .list_que p {
    padding-bottom: 0px;
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
    line-height: normal;
    word-wrap: break-word;
}

.show_list li a p {
    overflow: hidden;
    width: 100%;
    padding-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:black;
}

.tab_each {
    border-top: none;
}

.tab_each {
    clear: both;
    display:block;
  padding-top:8px;
    text-align:left;
    margin-bottom:20px;
}

div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.show_list {
    margin-bottom: 0;
    padding: 0 0;
}

.sub_wrap nav ul li a{
  display:block;
  font-size:20px;
  color:black;
}

.sub_wrap nav{
	padding-right:20px;
	text-align:left;
}

.sub_wrap nav ul li a.active{
  font-size:20px;
  color:#184798;;
  font-weight:bold;
}

.wrap.show, footer.show {
    opacity: 1;
    visibility: visible;
}

.wrap {
    width: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
}

.sub_wrap nav ul li {
    margin-bottom: 26px;
}

.tab{
	text-align:left;
}
.tab .tab_btn ul li{
    display: inline-block;
    float: none;
    position: relative;
    margin-right: 64px;
    font-size: 18px;
    line-height: normal;
    text-align: left;
    cursor: pointer;
    padding-left:5px;
    color:black;
}

.tab .tab_btn ul li a{
  color:black;
}

.withdrawal {
  color:white;
  float:left;
  margin-bottom:20px;
  background:#424040;
  width:80px;
  border-radius:3px;
  padding: 5px 0;
}
.tab .tab_btn ul{
  position:relative;
  margin-top:30px;
}
.tab_each ul li div{
	height:32px;
}

.tab_each ul li div span{
  font-size:16px;
  width:130px;
  display:inline-block;
  padding-top:4px;
}

thead tr td input{
  width:150px;
  font-size:14px;
  border:1px solid #f0f0f0;
  padding-left: 5px;
}

thead .modify{
  width:80px;
  height:27px;
  
  border : 1px solid rgba(0,0,0,0.2);
  border-radius : 4px;
  background-color: #fff;
  font-weight: 400;
  padding : 4px;
  color:black;
  text-align: center;
  font-size : 14px;
  position : relative;
  box-shadow: 0px 0px 1px 1px rgba(190, 190, 190, 0.6);
  cursor:pointer;
}

.tab_each ul li a{
  position:relative;
  top:10px;
}
	
table, tr, td {
	border-collapse : collapse;
	border: none;
}
td {
	text-align:left;
	color:#424040;
	padding-left:10px;
}
td input {
	height:23px;
	border: 1px solid #c4c4c4;
}	
.main_container {
   width:730px;
}

.first_content {

   margin-top:70px;
   border-top:2px solid #C4C4C4;
}



.form_box {
	margin-top:30px;
}

.fixed_join{
	
    font-size: 14px;
    width:20%; 
    height:40px;
    text-align:center;
    background:#f2f2f2;
}

.form_btn {
width:auto;
height:27px;
cursor:pointer;
background-color: #184798;
color: white;
border-radius:5px;
margin-left:5px;
font-size:12px;
}

.button_box {
   display:flex;
   justify-content:space-between;
   margin-top:20px;
   height:50px;
}

.button_box button {
   border:none;
   border-radius:2px;
   width:360px;
   height:50px;
}

.button_box button span {
   font-size:20px;
   color:white;
}

#button_01 {
   background: #c4c4c4;
}

#button_02 {
   background: #184798;
}

.radio_btn_box {
	display:flex;
	align-items:center;
	border:none;
	height:41px;
}