.main_container {
   width:730px;

}

.first_content {
   margin-top:70px;
   border-top:2px solid #C4C4C4;
}

.first_text {
   position:relative;
   top:-15px;
   margin-bottom:50px;
}

.first_text span {

   font-size: 21px;
   background:white;
   padding: 0 15px;
}

.first_text span b {
   color: #184798;
}

.bars {
    width:989px;
    height:43px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 
 .bars span {
    font-size:18px;
 }
 
 .form_box {
    margin-top:30px;
    width: 730px;
 }
 
 .fixed_cs{
    
    font-weight: bold;
     font-size: 14px;
     width:20%; 
     height:38px;
     text-align:center;
     color: #424040;
     background-color: #f0f0f0;
 }
 .csform{
   font-weight: bold;
   font-size: 14px;
   width:20%; 
   height:38px;
   text-align:center;
   background-color: #f0f0f0;
 }
 .form_box input{
    border: 0;
    outline: none;
 }

 
 .form_btn {
 width:auto;
 height:27px;
 cursor:pointer;
 background-color: #184798;
 color: white;
 border-radius:5px;
 margin-left:5px;
 }
 
 .button_box {
    float: right;
    height:50px;
 }
 
 .button_box button {
    border:none;
    border-radius:2px;
    width: 100px;
    height:30px;
   
 }
 
 .button_box button span {
    font-size:14px;
    font-family: 'Noto Sans KR', sans-serif;
    color:white;
 }
 
 #button_01 {
    background: #c4c4c4;
 }
 
 #button_02 {
    background: #184798;
 }
 

 .input-file-button{
   padding: 6px 25px;
   background-color:#184798;
   border-radius: 4px;
   color: white;
   cursor: pointer;
   margin: 10px;
 }