@charset "UTF-8";

.main_container {
	width:100%;
}

.first_content, .second_content, .last_content {
	width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #C4C4C4;
}

.first_text {
	position:relative;
	top:-15px;
	margin-bottom:50px;
}

.first_text span {
    font-size: 20px;
    background: white;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border: 3px solid #f4f5f6;
}

.first_text span b {
	color: #184798;
}

.first_text span img {
	width:20px;
	height:20px;
	margin-bottom: 5px;
}

.gym_content {
	width:1024px;
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
    margin-bottom: 5px;
}

.gym_image {
	border: 1px solid #c4c4c4;
	border-radius:5px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
	text-align:start;
	transition:0.3s;
	margin: 0px 1px 10px 1px;
	background: white; 
}

.gym_image:hover {
	cursor:pointer;
	color:#184798;
	transition:0.3s;
	margin-top:-5px;
	padding-bottom:5px;
	height:380px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 8px rgb(0 0 0 / 24%);
}

.gym_image img {
	width:337px;
	height:227px;
}

.gym_image .gym_image_tag_box {
	margin-top:20px;
}

.gym_image .gym_image_info_box,
.gym_image .gym_image_tag_box {
	margin: 20px 10px;
}

.gym_image .gym_image_info_box .gym_image_info_title {
	font-size:17px;
	font-weight:bold;
	color: #424040;
}

.gym_image .gym_image_info_box div {
	display:flex;
	justify-content:space-between;
	font-size: 15px;
    color: #424040;
    margin-top: 5px;
}

.gym_image .gym_image_tag_box {
	margin-top:40px;
}

.gym_image .gym_image_tag_box span {
	padding: 0 10px;
    border: 1px solid #424040;
    border-radius: 13px;
    color: #424040;
}

.my_location_setting_box {
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px 15px 0px;
    color: white;
    background: #184798;
}

.my_location_setting_box .now_location_box{
	text-align: start;
	line-height: 2;
}

.now_location_box div {
	display: flex;
    align-items: center;
	font-size: 15px;
}

.now_location_box img {
	width:16px;
	margin-right:7px;
}

.location_setting {
	font-size:15px;
}

.location_setting a {
	color:white;
	
}

.second_content {
	margin-top:100px;
	background: #f4f5f6;
}