@charset "UTF-8";

.main_container {
	width:100%;
	margin-top: 30px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.second_content, .last_content {
	margin-top:70px;
}

.first_content {
	background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 20px 0px;
}

.first_text {
	margin-top: 25px;
    width: 1130px;
    height: 75px;
    line-height: 3.5;
    text-align: left;
    padding-left: 3px;
}

.first_text span {
	font-size: 20px;
}

.gym_content {
	width:1130px;
	display:flex;
	justify-content: flex-start;
	flex-wrap:wrap;
    margin-bottom: 5px;
    margin-bottom: 30px;
}

.gym_content a:hover {
	text-decoration:none;
}

.gym_image {
	border: 1px solid #c4c4c4;
	border-radius:5px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
	text-align:start;
	margin: 0px 1px 10px 1px;
	transition:0.3s;
	background: white;
}

.gym_image:hover {
	cursor:pointer;
	margin-top:-5px;
	height:387px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
	transition: 0.3;
}

.gym_image img {
	width: 372px;
    height: 235px;
}

.gym_image .gym_image_tag_box {
	margin-top:20px;
}

.gym_image .gym_image_info_box,
.gym_image .gym_image_tag_box {
	margin: 20px 10px;
}

.gym_image .gym_image_info_box .gym_image_info_title {
	font-size:17px;
	font-weight:bold;
	color: #424040;
}

.gym_image .gym_image_info_box div {
	display:flex;
	justify-content:space-between;
	font-size: 15px;
    color: #424040;
    margin-top: 5px;
}

.gym_image .gym_image_tag_box {
	margin-top:40px;
}

.gym_image .gym_image_tag_box span {
	padding: 0 10px;
    border: 1px solid #424040;
    border-radius: 13px;
    color: #424040;
}

.my_location_setting_box {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 195px;
    height: 135px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.my_location_setting_box .now_location_box{
	text-align: start;
	line-height: 2;
}

.now_location_box div {
	display: flex;
    align-items: center;
	font-size: 15px;
}

.now_location_box img {
	width:16px;
	margin-right:7px;
}

.location_setting {
	border: 1px solid #c4c4c4;
    border-radius: 3px;
    padding: 8px;
}

.location_setting a {
	text-decoration:none;
}

#no_address_content {
	padding: 50px 30px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

#no_address_content img {
	margin-right: 5px;
    margin-bottom: 4px;
}

#page_wrap {
	position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    width: 1120px;
}

#page_wrap a {
	margin-left:10px;
}
.fa fa-star{
	color: #184798;
}

#view_plus_btn {
	position: absolute;
    top: -22px;
    font-size: 30px;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 2;
    color: #4274D3;
    background: white;
}